<!-- Nav tabs -->
<nav class="nav flex-column flex-sm-row">

  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/home" routerLinkActive="active">Home</a>

  <span class="btn-group" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
    <a href dropdownToggle (click)="false" class="nav-link dropdown-toggle">Dropdown</a>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li *ngFor="let choice of items">
        <a routerLink="/home" class="dropdown-item">{{choice}}</a>
      </li>
    </ul>
  </span>

  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/org-search" routerLinkActive="active">Org search</a>

  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/protected" routerLinkActive="active">Protected</a>
</nav>

<div class="container-fluid main-container">
  <router-outlet></router-outlet>
</div>
