<div class="col col-lg-12">
  <div class="row">
    <h3>This is the list of contributors to the TypeScript repo</h3>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="filterInput">Filter</label>
      <input type="text" [(ngModel)]="filterString"
        class="form-control" name="filterInput" id="filterInput" placeholder="Filter text">
    </div>
  </div>
  <div class="row">
    <div *ngFor="let user of users | async">
      <app-user [user]=user></app-user>
    </div>
  </div>
</div>
